@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap);
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.main__background-image{
    background-image:url('./images/carousel-1.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 36px;
    height: 52rem;
    width: 100%;
    position: relative;
    filter: brightness(65%);
}

.main__header{
    border: 1px solid red;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -805px;
    color: white;
}
.navbar h1{
    font-size: 3.5rem;
    font-family: Oswald,sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
.navbar__content{
    width: 40%;
}
.navbar__items{
    border: 1px solid white;
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    height: 78px;
}
.navbar__items li{
    font-size: 1.3rem;
    list-style: none;
    color: #fff;
}