
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
.main__background-image{
    background-image:url('./images/carousel-1.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 36px;
    height: 52rem;
    width: 100%;
    position: relative;
    filter: brightness(65%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -805px;
    color: white;
}
.navbar h1{
    font-size: 3.5rem;
    font-family: Oswald,sans-serif;
    margin-bottom: 0;
    margin-top: -11px;
    margin-left: 16px;
}
.navbar__content{
    width: 44%;
    margin-right: 22px;
    background: #111;
    height: 93px;
    margin-top: -10px;
}
.navbar__items{
    display: flex;
    justify-content: space-around;
    height: 78px;
    margin-right: 12px;
}
.navbar__items li{
    font-size: 1.1rem;
    list-style: none;
    font-family: Montserrat,sans-serif;
    margin-right: 27px;
    margin-top: 16px;
}
.navbar__items li a{
    color: #fff;
    text-decoration: none;
}
.navbar__items li a:hover{
    cursor: pointer;
    color: #e31c25;
    
}
#home-item a{
    color: #e31c25;
}
.main__headings{
    position: relative;
    bottom: 650px;
    text-align: center;

}
.main__headings h3{
    color: #e31c25;
    font-size: 1.75rem;
    margin-bottom: 0;
}
.main__headings h1{
    font-size: 5.5rem;
    color: #fff;
    margin-top: 0;
}
.joinus-btn{
    width: 15%;
    height: 74px;
    margin-top: -30px;
    font-size: 1.25rem;
    font-family: Montserrat,sans-serif;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.joinus-btn:hover{
    cursor: pointer;
    color: #212529;
    background: #fff;
    transition-duration: 0.3s;
}

.building-type-cont{
    display: flex;
    height: 452px;
    position: relative;
    bottom: 32rem;
    width: 77%;
    left: 12rem;
}
.building-type{
    width: 48%;
}
.body__building{
    text-align: right;
    padding-left: 16px;
    padding-right: 38px;
    background-color: #e31c25;
}
.muscle__building{
    text-align: left;
    padding-right: 16px;
    padding-left: 38px;
    background-color: #111;
}
.building-type h1{
    color: #fff;
    font-size: 3.5rem;
    margin-top: 72px;
}

.building-type p{
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
}

.join-btn{
    width: 28%;
    height: 52px;
    margin-top: 28px;
    font-size: 1.25rem;
    font-family: Montserrat,sans-serif;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.join-btn:hover{
    cursor: pointer;
    color: #212529;
    background: #fff;
    transition-duration: 0.3s;
}

.about-cont{
    display: flex;
    margin: auto;
    position: relative;
    width: 74.5%;
    bottom: 400px;
    height: 560px;
}
.about-image{
    height: 100%;
}
.about-image img{
    height: 100%;
}

.about-desc{
    padding-left: 24px;
}
.about-desc h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 17px;
}
.about-desc p{
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    font-weight: 50;
}
.achievements{
    display: flex;
    margin-top: 32px;
}
.fa-solid{
    font-size: 5rem;
    margin-left: 2px;
    color: #e31c25;
}
.achievement{
    width: 40%;
}
.certificate{
    margin-right: 70px;
}
.achievement h2{
    font-size: 1.5rem;
    color: #343a40;
}
.about-desc button{
    width: 30%;
    height: 55px;
    margin-top: 22px;
    font-size: 1.25rem;
    color: #e31c25;
    border-color:#e31c25 ;
    cursor: pointer;
    background: #fff;
    outline: none;
}
.about-desc button:hover{
    background:#e31c25;
    color: #fff;
    transition-duration: 0.4s;
}
.benefits-cont{
    display: flex;
    height: 300px;
    position: relative;
    bottom: 306px;
}
.benefit{
    display: flex;
    height: 100%;
    background: #111;
}
.benefit-icon{
    font-size: 4.5rem;
    color: #e31c25;
    position: relative;
    top: 35%;
    left: 48px;
}
.fa-dumbbell{
    color: #111;
}
.benefit-desc{
    margin-left: 60px;
    position: relative;
    top: 22%;
    padding-left: 12px;
    padding-right: 38px;
    width: 72%;
}
.benefit-desc h1{
    font-size: 2rem;
    color: #fff;
}
.benefit-desc p{
    color: #fff;
    line-height: 1.5;
    font-weight: 100;
}
.workout{
    background: #e31c25;
}


