@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap);
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.main__background-image{
    background-image:url('./images/carousel-1.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 36px;
    height: 52rem;
    width: 100%;
    position: relative;
    filter: brightness(65%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -805px;
    color: white;
}
.navbar h1{
    font-size: 3.5rem;
    font-family: Oswald,sans-serif;
    margin-bottom: 0;
    margin-top: -11px;
    margin-left: 16px;
}
.navbar__content{
    width: 44%;
    margin-right: 22px;
    background: #111;
    height: 93px;
    margin-top: -10px;
}
.navbar__items{
    display: flex;
    justify-content: space-around;
    height: 78px;
    margin-right: 12px;
}
.navbar__items li{
    font-size: 1.1rem;
    list-style: none;
    font-family: Montserrat,sans-serif;
    margin-right: 29px;
    margin-top: 16px;
}
.navbar__items li a{
    color: #fff;
    text-decoration: none;
}
.navbar__items li a:hover{
    cursor: pointer;
    color: #e31c25;
    
}
#home-item a{
    color: #e31c25;
}

