body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.contact__details-header{
    /* border: 2px solid red; */
    height: 34px;
    background: rgb(114, 210, 114);
}
.contact__details-nav1{
    display: flex;
    justify-content: space-between;
}

.help-counter{
    display: flex;
    position: relative;
    top: -8px;
    left:60px;
    list-style: none;
    padding: 0;
}

.social-links{
    display: flex;
    position: relative;
    top: -8px;
    right:36px;
    list-style: none;
    padding: 0;
}
.opt{
    margin:0 8px; 
    font-size: 16px;
    
}
.opt a,.social-link a{
    text-decoration: none;
    color: white;
}
.opt span{
    color: white;
   
}

.social-link{
    margin:0 16px;
    font-size: 16px;
}

.contact__details-nav2{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: 80px;
}
.title{
    margin-left: 70px;
    
}
.title h1{
    font-size: 40px;
    margin-top: 2px;
    
}
.title h1 span{
    color: #ED6436;
}

.basic__details{
    display: flex;
    margin-right:50px ;
   
}
.basic__detail{
    margin-top: 2px;
    text-align: center;
    padding-left: 40px;
}

.basic__detail h6{
    font-size: 16px;
    margin: 0;
    color: #181818;
}
.basic__detail p{
    color: #777777;
}
.main__header{
    /* border:1px solid red ; */
    margin-top: 85px;
}

.main__nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid rgb(2, 38, 59);
    background: black;
    
}
.main__nav-items{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 16px;
    list-style: none;
}
.main__nav-item{
    font-size: 20px;
    text-decoration: none;
    padding-right: 42px;
    color: rgba(255, 255, 255, 0.851);
}
.quote__btn{
    position: relative;
    right: 48px;
    
}
.quote__btn button{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.851);
    background: #ED6436;
    padding: 10px;
    border-radius: 10px;
}

.main__heading{
    border: 1px solid red;
    text-align: center;
    padding: 36px;
    background: black;
}
.main__heading-subtitle{
    font-size: 1.75rem;
    color: #fff;
}
.main__heading-title{
    color: #fff;
}
.main__heading-info{
    color: #fff;
}