body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.contact__details-header{
    /* border: 2px solid red; */
    height: 34px;
    background: rgb(114, 210, 114);
}
.contact__details-nav1{
    display: flex;
    justify-content: space-between;
}

.help-counter{
    display: flex;
    position: relative;
    top: -8px;
    left:60px;
    list-style: none;
    padding: 0;
}

.social-links{
    display: flex;
    position: relative;
    top: -8px;
    right:36px;
    list-style: none;
    padding: 0;
}
.opt{
    margin:0 8px; 
    font-size: 16px;
    
}
.opt a,.social-link a{
    text-decoration: none;
    color: white;
}
.opt span{
    color: white;
   
}

.social-link{
    margin:0 16px;
    font-size: 16px;
}

.contact__details-nav2{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: 80px;
}
.title{
    margin-left: 70px;
    
}
.title h1{
    font-size: 40px;
    margin-top: 2px;
    
}
.title h1 span{
    color: #ED6436;
}

.basic__details{
    display: flex;
    margin-right:50px ;
   
}
.basic__detail{
    margin-top: 2px;
    text-align: center;
    padding-left: 40px;
}

.basic__detail h6{
    font-size: 16px;
    margin: 0;
    color: #181818;
}
.basic__detail p{
    color: #777777;
}
.main__header{
    /* border:1px solid red ; */
    margin-top: 85px;
}

.main__nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid rgb(2, 38, 59);
    background: black;
    
}
.main__nav-items{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 16px;
    list-style: none;
}
.main__nav-item{
    font-size: 20px;
    text-decoration: none;
    padding-right: 42px;
    color: rgba(255, 255, 255, 0.851);
}
.quote__btn{
    position: relative;
    right: 48px;
    
}
.quote__btn button{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.851);
    background: #ED6436;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.quote__btn button:hover{
    background:#f54e16;
}

.main__heading{
    /* border: 1px solid red; */
    background-image: url('./images/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 36px;
    height: 50rem;
    width: 95.2%;
    /* background-blend-mode: darken; */
}
.main__heading-items{
   position: relative;
   top: 30%;
}
.main__heading-subtitle{
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: -33px;
}
.main__heading-title{
    color: #fff;
    font-size: 4.5rem;
}
.main__heading-info{
    color: #fff;
    font-size: 1.25rem;
    position: relative;
    bottom: 32px;
}
.info__btn{
    font-size: 20px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.book{
    color: #fff;
    background: #ED6436;
}
.book:hover{
    background:#f54e16;
}
.learn__more{
    background: #65C178;
}
.learn__more:hover{
    color: #fff;
}

.about{
    display: flex;
    margin-top: 76px;
    /* position: relative; */
    /* justify-content: space-evenly; */
}

.about__info{
    width: 40%;
    position: relative;
    text-align: left;
    left: 10%;
    height: 31rem;
    /* border: 2px solid red; */
}

.about__subheading{
    color: #65C178;
    font-size: 1.5rem;
    /* line-height: 1.2; */
    margin-bottom: -18px;
}

.about__heading{
    font-size: 3.5rem;
    color: #181818;
    
}
.span1{
    color: #ED6436;
    margin-right: 16px;
}
.span2{
    color: #65C178;
    margin-left: 16px;
}

.about__desc1{
    color: #6c757d;
    font-size: 1.25rem;
}

.about__desc2{
    color: #777777;
    font-size: 1rem;
    font-weight: 400;
}
.about__image{
    position: relative;
    right: -10%;
}
.about__basicInfo{
    margin-left: -40px;
   }
.about__basicInfo-items{
    list-style: none;
    
}
.about__basicInfo-items .fa-solid{
    color: #65C178;
    font-size: 1.2rem;
}
.about__basicInfo-items li{
    line-height: 1.6;
}
.about__basicInfo-items span{
    font-size: 1.4rem;
    margin-left:16px ;
    
}

.about__btn{
    font-size: 22px;
    margin-left: 36px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.851);
    background: #ED6436;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.about__btn:hover{
    background:#f54e16;
}
.service__container{
    background-color: #F2F2F4;
    margin-top: 72px;
}
.container__headings{
    text-align: center;
    position: relative;
    top: 106px;
}
.container__headings h3{
    font-size: 1.5rem;
    color: #65C178;
    line-height: 0.1;

}
.container__headings h1{
    font-size: 3.5rem;
    color:#181818;
}
.container__headings h1 span{
    color: #ED6436;
}
.service__container-items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 148px;
    padding-bottom: 64px;
}


.service__container-item{
    
    width: 21%;
    height: 345px;
    margin:16px 30px ;
    text-align: center;
    padding: 15px;
    background-color: #fff;
}
.service__icon{
    font-size: 4.5rem;
    color: #65C178;

}
.service__desc{
    color: #777777;
}
.service__link{
    font-size: 1rem;
}
.service__link a{
    text-decoration: none;
    color: #ED6436;
}
.service__link a:hover{
    text-decoration:underline;
    color: #c53f12;
}

.feature__block{
  
    text-align: center;
    height: 500px;
    margin-top: 30px;
}

.feature__image,.feature{
    display: inline-block;
}
.feature__image{
    width: 30%;
    height: 500px;
    
}
.feature__image img{
   
    height: 500px;
    width: 92%;
    
}
.feature{
    width: 38%;
    height: 457px;
    position: relative;
    top: -148px;
    right: -30px;
    text-align: left;
}

.feature__subtitle{
    font-size: 1.5rem;
    color: #65C178;
}

.features__titles{
    display: flex;
    justify-content: space-around;
    margin-left: -36px;
}
.feature__title{
    color: #181818;
    font-size: 3.5rem;
}
.feature__title span{
    color: #ED6436;
}
.feature__desc{
    font-size: 1rem;
    color: #777777;
}
.features__titles{
    margin-top: 36px;
}
.features__box{
    padding-left: 8px;
}
.features__box li{
    list-style: none;
    padding-bottom: 36px;
}
.features__box li .fa-solid{
    font-size: 2.1rem;
    color: #65C178;
    margin-right: 10px;
}

.features__box span{
    font-size: 1.5rem;
    color: #221e1e;
}

.price__container{
    background-color: #F2F2F4;
    margin-top: 72px;
    height: 900px;
}
.price__container-headings{
    text-align: center;
    position: relative;
    top: 94px;
}
.price__container-headings h3{
    font-size: 1.5rem;
    color: #65C178;
    line-height: 0.1;

}
.price__container-headings h1{
    font-size: 3.5rem;
    color:#181818;
}
.price__container-headings h1 span{
    color: #ED6436;
}
.prices{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    height: 500px;
    
}
.price{
    width: 22%;
    background-color: white;
}

.section-1{
    background-image: url('./images/price-1.jpg');
}
.section-2{
    background-image: url('./images/price-2.jpg');
}
.section-3{
    background-image: url('./images/price-3.jpg');
}
.price__section{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: (0,0,0,0.5); */
    /* margin-top: 12px; */
    height: 212px;
    /* filter: contrast(60%); */
    position: relative;
    top: -28px;
    
}
.price__section h3{
    font-size: 1.75rem;
    position: relative;
    top: 26px;
    color:#ED6436;
}
.section-2 h3{
    color: #65C178;
}
.price__section h1{
    font-size: 3.5rem;
    color: #F2F2F4;
}
.align__top{
    font-size: 22px;
    line-height: 45px;
    vertical-align: top;
    color: #F2F2F4;
}
.align__bottom{
    font-size: 16px;
    line-height: 40px;
    vertical-align: bottom;
    color: #F2F2F4;
}

.price__btn{
    position: relative;
    top: -14px;
    width:100%;
    border: none;
    background-color: #ED6436;
    color: #fff;
    height: 54px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.price__btn:hover{
    background-color: #c53f12;
}
.price__features ul{
    position: relative;
    right: 40px;
    bottom: 16px;
}
.price__features ul li{
    border-bottom:1px solid rgb(119, 119, 119,0.5);
    list-style: none;
    width: 104%;
    text-align: center;
    padding: 14px;
}
.price__features ul li span{
    color: #777777;
}
#no__border{
    border-bottom: none;
}
.fa-check,.fa-xmark{
    margin-right: 10px;
}
.fa-check{
    color: #65C178;
}

.fa-xmark{
    color: #dc3545;
}

.team__members-container{
    height: 700px;
}
.team__member-headings{
    text-align: center;
    margin-top: 78px;
}
.team__member-headings h3{
    font-size: 1.5rem;
    color: #65C178;
}
.team__member-headings h1{
    font-size: 3.5rem;
    color:#ED6436;
}
.team__member-headings h1 span{
    color: #181818;
}
.team__members{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.team__member{
    width: 16%;
    height: 388px;
    margin-right: 26px;
    background-color: #F2F2F4;
}
.team__member-image img{
    width: 100%;
}
.team__member-intro{
    text-align: center;
    vertical-align: middle;
   
}
.team__member-intro h4{
    font-size: 1.25rem;
    color: #181818;
    margin-bottom: 0;
    font-weight: 540;
}
.team__member-intro h5{
    font-size: 1rem;
    color: #777777;
    margin-top: 12px;
    font-style: italic;
    font-weight: 400;
}

.client__says-container{
    margin-top: -64px;
    height: 600px;
    background-color: #F2F2F4;
}

.client__says-headings{
    text-align: center;
    /* margin-top: 10px; */
    top: 102px;
    position: relative;
}
.client__says-headings h3{
    font-size: 1.5rem;
    color: #65C178;
}
.client__says-headings h1{
    font-size: 3.5rem;
    color:#ED6436;
    margin-top: 0;
}
.client__says-headings h1 span{
    
    color: #181818;
}

.client__says-items{
    display: flex;
    justify-content: center;
    margin-left: 82px;
    margin-top: 148px;
}
.client{
    /* border: 1px solid black; */
    width: 24%;
    margin-right: 32px;
    
    height: 196px;
    background-color: #fff;
}

.client__image{
    /* border: 1px solid blue; */
    display: inline-block;
    
}
.client__image img{
    width: 82%;
}
.client__intro{
    /* border: 1px solid blue; */
    position: relative;
    display: inline-block;
    height: 81px;
    top: -6px;
    left:-11px
}
.client__intro h3{
    color: #181818;
    font-size: 1.25rem;
    font-weight: 510;
}

.client__intro h4{
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    color: #777777;
}

.client__desc{
    text-align: left;
    font-size: 1rem;
    padding-left: 18px;
    margin-top: 25px;
    color: #777777;
}
.updates__container{
    /* border: 1px solid red; */
    height: 800px;
    
}
.updates__headings{
    text-align: center;
    /* margin-top: 10px; */
    top: 70px;
    position: relative;
}
.updates__headings h3{
    font-size: 1.5rem;
    color: #65C178;
}
.updates__headings h1{
    font-size: 3.5rem;
    color: #181818;
    margin-top: 0;
}
.updates__headings h1 span{
    color:#ED6436;
    
}

.updates__items {
    display: flex;
    justify-content: center;
    margin-top: 118px;
    margin-right: 0px;
    margin-left: 24px;
}
.updates__item{
    width: 23%;
    height: 475px;
    /* border: 1px solid red; */
    background:#F2F2F4;
    margin-right: 30px;
}
.update__image img{
    width: 100%;
}
.update__heading{
    text-align: center;
}
.update__heading h2{
    font-size: 1.5rem;
}
.updates__info ul{
    display: flex;
    margin-top: -4px;
    margin-left: -6px;
    
}
.updates__info li{
    font-size: 0.8rem;
    list-style: none;
    margin-right: 6px;
    color: #777777;
}
.updates__info li i{
    margin-right: 6px;
}
.desc{
    text-align: left;
    padding-left: 34px;
    margin-top: 20px;
}
.desc p{
    font-size: 1rem;
    color: #777777;
    line-height: 1.5;
}
.updates__info a{
    position: relative;
    left: 39px;
    top: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: #ED6436;
    text-decoration: none;
}

.updates__info a:hover{
    color: #c53f12;
    text-decoration:underline ;
}
.footer__container{
    /* border: 1px solid red; */
    height: 400px;
    background: #181818;
    margin-top: -45px;
}
.footer__items{
    display: flex;
    justify-content: space-evenly;
}

.footer__items{
    margin-top: 48px;
}

.footer__item{
    /* border:  1px solid red; */
    width: 50%;
    height: 350px;
}
.summary{
    width: 72%;
    padding: 36px;
}
.summary h2{
    font-size: 2.5rem;
    color: #ED6436;
}
.summary h2 span{
    color: #fff;
}
.summary p{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: -20px;
}
.contact-info{
    text-align: left;
    width: 44%;
}
.footer__item h3{
    color: #ED6436;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 40px;
    margin-bottom: 0;
    margin-top: 62px;
}
.basic__contact-info,.social__contact-info{
    list-style: none;
    color: #fff;
}
.basic__contact-info li{
    font-size: 1rem;
    line-height: 2.5;
}

.basic__contact-info li i{
    margin-right: 8px;
}
.social__contact-info{
    display: flex;
}
.social__contact-info li{
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 50%;
    margin-right: 11px;
    width: 17px;
    height: 17px;
}
.social__contact-info li:hover{
    background: #fff;
    color: #181818;
    transition-duration: 0.5s;
    cursor: pointer;
}
.links{
    width: 38%;
}
.popular__links li{
    list-style: none;
    color:#fff;
}
.popular__links li i{
    margin-right: 8px;
}
.popular__links li a{
    font-size: 1rem;
    color:#fff;
    line-height: 2.2;
    text-decoration: none;
}
.popular__links li a:hover{
    text-decoration: underline;
}
.final__submit{
    width: 57%;
}
.form{
    margin-top: 24px;
    margin-left: 42px;
}
#name,#email{
    width: 78%;
    height: 33px;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding-left: 16px;
}
#submit{
    width: 84%;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background: #ED6436;
    color: #fff;
}
#submit:hover{
    background:#f54e16;
    transition-duration: 0.5s;
    cursor: pointer;
}

.main__footer{
    display: flex;
    justify-content: space-between;
}
.content1{
    border: 1px solid red;
}
.content1 h4{
    display: inline-block;
}