body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.contact__details-header{
    /* border: 2px solid red; */
    height: 34px;
    background: rgb(114, 210, 114);
}
.contact__details-nav1{
    display: flex;
    justify-content: space-between;
}

.help-counter{
    display: flex;
    position: relative;
    top: -8px;
    left:60px;
    list-style: none;
    padding: 0;
}

.social-links{
    display: flex;
    position: relative;
    top: -8px;
    right:36px;
    list-style: none;
    padding: 0;
}
.opt{
    margin:0 8px; 
    font-size: 16px;
    
}
.opt a,.social-link a{
    text-decoration: none;
    color: white;
}
.opt span{
    color: white;
   
}

.social-link{
    margin:0 16px;
    font-size: 16px;
}

.contact__details-nav2{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: 80px;
}
.title{
    margin-left: 70px;
    
}
.title h1{
    font-size: 40px;
    margin-top: 2px;
    
}
.title h1 span{
    color: #ED6436;
}

.basic__details{
    display: flex;
    margin-right:50px ;
   
}
.basic__detail{
    margin-top: 2px;
    text-align: center;
    padding-left: 40px;
}

.basic__detail h6{
    font-size: 16px;
    margin: 0;
    color: #181818;
}
.basic__detail p{
    color: #777777;
}
.main__header{
    /* border:1px solid red ; */
    margin-top: 85px;
}

.main__nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid rgb(2, 38, 59);
    background: black;
    
}
.main__nav-items{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 16px;
    list-style: none;
}
.main__nav-item{
    font-size: 20px;
    text-decoration: none;
    padding-right: 42px;
    color: rgba(255, 255, 255, 0.851);
}
.quote__btn{
    position: relative;
    right: 48px;
    
}
.quote__btn button{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.851);
    background: #ED6436;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.quote__btn button:hover{
    background:#f54e16;
}

.main__heading{
    /* border: 1px solid red; */
    background-image: url('./images/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 36px;
    height: 50rem;
    width: 95.2%;
    /* background-blend-mode: darken; */
}
.main__heading-items{
   position: relative;
   top: 30%;
}
.main__heading-subtitle{
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: -33px;
}
.main__heading-title{
    color: #fff;
    font-size: 4.5rem;
}
.main__heading-info{
    color: #fff;
    font-size: 1.25rem;
    position: relative;
    bottom: 32px;
}
.info__btn{
    font-size: 20px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.book{
    color: #fff;
    background: #ED6436;
}
.book:hover{
    background:#f54e16;
}
.learn__more{
    background: #65C178;
}
.learn__more:hover{
    color: #fff;
}

.about{
    display: flex;
    margin-top: 76px;
    /* position: relative; */
    /* justify-content: space-evenly; */
}

.about__info{
    width: 40%;
    position: relative;
    text-align: left;
    left: 10%;
    height: 31rem;
    /* border: 2px solid red; */
}

.about__subheading{
    color: #65C178;
    font-size: 1.5rem;
    /* line-height: 1.2; */
    margin-bottom: -18px;
}

.about__heading{
    font-size: 3.5rem;
    color: #181818;
    
}
.span1{
    color: #ED6436;
    margin-right: 16px;
}
.span2{
    color: #65C178;
    margin-left: 16px;
}

.about__desc1{
    color: #6c757d;
    font-size: 1.25rem;
}

.about__desc2{
    color: #777777;
    font-size: 1rem;
    font-weight: 400;
}
.about__image{
    position: relative;
    right: -10%;
}
.about__basicInfo{
    margin-left: -40px;
   }
.about__basicInfo-items{
    list-style: none;
    
}
.about__basicInfo-items .fa-solid{
    color: #65C178;
    font-size: 1.2rem;
}
.about__basicInfo-items li{
    line-height: 1.6;
}
.about__basicInfo-items span{
    font-size: 1.4rem;
    margin-left:16px ;
    
}

.about__btn{
    font-size: 22px;
    margin-left: 36px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.851);
    background: #ED6436;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.about__btn:hover{
    background:#f54e16;
}
.service__container{
    background-color: #F2F2F4;
    margin-top: 72px;
}
.container__headings{
    text-align: center;
    position: relative;
    top: 106px;
}
.container__headings h3{
    font-size: 1.5rem;
    color: #65C178;
    line-height: 0.1;

}
.container__headings h1{
    font-size: 3.5rem;
    color:#181818;
}
.container__headings h1 span{
    color: #ED6436;
}
.service__container-items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 148px;
    padding-bottom: 64px;
}


.service__container-item{
    
    width: 21%;
    height: 345px;
    margin:16px 30px ;
    text-align: center;
    padding: 15px;
    background-color: #fff;
}
.service__icon{
    font-size: 4.5rem;
    color: #65C178;

}
.service__desc{
    color: #777777;
}
.service__link{
    font-size: 1rem;
}
.service__link a{
    text-decoration: none;
    color: #ED6436;
}
.service__link a:hover{
    text-decoration:underline;
    color: #c53f12;
}

.feature__block{
  
    text-align: center;
    height: 500px;
    margin-top: 30px;
}

.feature__image,.feature{
    display: inline-block;
}
.feature__image{
    width: 30%;
    height: 500px;
    
}
.feature__image img{
   
    height: 500px;
    width: 92%;
    
}
.feature{
    width: 38%;
    height: 457px;
    position: relative;
    top: -148px;
    right: -30px;
    text-align: left;
}

.feature__subtitle{
    font-size: 1.5rem;
    color: #65C178;
}

.features__titles{
    display: flex;
    justify-content: space-around;
    margin-left: -36px;
}
.feature__title{
    color: #181818;
    font-size: 3.5rem;
}
.feature__title span{
    color: #ED6436;
}
.feature__desc{
    font-size: 1rem;
    color: #777777;
}
.features__titles{
    margin-top: 36px;
}
.features__box{
    padding-left: 8px;
}
.features__box li{
    list-style: none;
    padding-bottom: 36px;
}
.features__box li .fa-solid{
    font-size: 2.1rem;
    color: #65C178;
    margin-right: 10px;
}

.features__box span{
    font-size: 1.5rem;
    color: #221e1e;
}

.price__container{
    border: 2px solid red;
    background-color: #F2F2F4;
    margin-top: 72px;
    height: 900px;
}
.price__container-headings{
    text-align: center;
    position: relative;
    top: 94px;
}
.price__container-headings h3{
    font-size: 1.5rem;
    color: #65C178;
    line-height: 0.1;

}
.price__container-headings h1{
    font-size: 3.5rem;
    color:#181818;
}
.price__container-headings h1 span{
    color: #ED6436;
}
.prices{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-top: 200px;
    height: 500px;
    
}
.price{
    /* border: 2px solid red; */
    width: 22%;
    background-color: white;
}

.section-1{
    background-image: url('./images/price-1.jpg');
}
.section-2{
    background-image: url('./images/price-2.jpg');
}
.section-3{
    background-image: url('./images/price-3.jpg');
}
.price__section{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: (0,0,0,0.5); */
    /* margin-top: 12px; */
    height: 212px;
    /* filter: contrast(60%); */
    position: relative;
    top: -28px;
    
}
.price__section h3{
    font-size: 1.75rem;
    position: relative;
    top: 26px;
    color:#ED6436;
}
.section-2 h3{
    color: #65C178;
}
.price__section h1{
    font-size: 3.5rem;
    color: #F2F2F4;
}
.align__top{
    font-size: 22px;
    line-height: 45px;
    vertical-align: top;
    color: #F2F2F4;
}
.align__bottom{
    font-size: 16px;
    line-height: 40px;
    vertical-align: bottom;
    color: #F2F2F4;
}

.price__btn{
    position: relative;
    top: 207px;
    width:100%;
    border: none;
    background-color: #ED6436;
    color: #fff;
    height: 54px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.price__btn:hover{
    background-color: #c53f12;
}
/* .main__heading{
    background-image: url('./images/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;
    padding: 36px;
    height: 50rem;
    width: 95.2%;
} */